[Unit]
Description=gunicorn daemon
After=network.target

[Service]
Type = simple
# The example https://docs.gunicorn.org/en/stable/deploy.html
# says to use Type=notify but that causes 
# systemctl start gunicorn
# to hang. OTOH that web page has a complete setup for
# socket activation. Type=notify may be appropriate in that case
# (I wouldn't know)

# the specific user that our service will run as
User=ticketweb_%i_apps_reporting
Group=ticketweb_%i_apps_reporting



# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html

RuntimeDirectory=ticketweb/%i/applications/reporting

# This translates in practice to /run/tokenserver.
# not sure if this needs to be set or if this would have been the default anyway
# Don't think this directory is needed for anything anyway. No PID's are being 
# saved or anything


# WorkingDirectory=gunicorn
# Don't know what this is by default, but it doesn't matter. No directories are
# refered to in the code so it makes no difference



ExecStart=/usr/local/bin/ticketweb-apps-reporting-server %i



# This is different from the example at 
# https://docs.gunicorn.org/en/stable/deploy.html
# which is /usr/bin/gunicorn applicationname.wsgi.
# I don't really understand what a wsgi file is but I am setting things up described
# in the documentation of Falcon API, which is my reason for running gunicorn anyway

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5


PrivateTmp=true
# StandardOutput=append:/opt/web-project-venvs/final/var/log/web-project/token-server/token-server.log


[Install]
WantedBy=multi-user.target

